portal-master/modules/apps/foundation/portal-cache/portal-cache-ehcache/src/main/resources/ehcache/ehcache.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!-- @generated -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.7">

    <xs:element name="ehcache">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="0" ref="diskStore"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="sizeOfPolicy"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="transactionManagerLookup"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="cacheManagerEventListenerFactory"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="managementRESTService"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="cacheManagerPeerProviderFactory"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="cacheManagerPeerListenerFactory"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="terracottaConfig"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="defaultCache"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="cache"/>
            </xs:sequence>
            <xs:attribute name="name" use="required"/>
            <xs:attribute default="true" name="updateCheck" type="xs:boolean" use="optional"/>
            <xs:attribute default="autodetect" name="monitoring" type="monitoringType" use="optional"/>
            <xs:attribute default="true" name="dynamicConfig" type="xs:boolean" use="optional"/>
            <xs:attribute default="15" name="defaultTransactionTimeoutInSeconds" type="xs:integer" use="optional"/>
            <xs:attribute default="0" name="maxBytesLocalHeap" type="memoryUnitOrPercentage" use="optional"/>
            <xs:attribute default="0" name="maxBytesLocalOffHeap" type="memoryUnit" use="optional"/>
            <xs:attribute default="0" name="maxBytesLocalDisk" type="memoryUnit" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="managementRESTService">
        <xs:complexType>
            <xs:attribute name="enabled" type="xs:boolean" use="optional"/>
            <xs:attribute name="bind" use="optional"/>
            <xs:attribute name="securityServiceLocation" use="optional"/>
            <xs:attribute name="securityServiceTimeout" type="xs:integer" use="optional"/>
            <xs:attribute name="sslEnabled" type="xs:boolean" use="optional"/>
            <xs:attribute name="needClientAuth" type="xs:boolean" use="optional"/>
            <xs:attribute name="sampleHistorySize" type="xs:integer" use="optional"/>
            <xs:attribute name="sampleIntervalSeconds" type="xs:integer" use="optional"/>
            <xs:attribute name="sampleSearchIntervalSeconds" type="xs:integer" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="diskStore">
        <xs:complexType>
            <xs:attribute name="path" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="transactionManagerLookup">
        <xs:complexType>
            <xs:attribute name="class" use="required"/>
            <xs:attribute name="properties" use="optional"/>
            <xs:attribute name="propertySeparator" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="cacheManagerEventListenerFactory">
        <xs:complexType>
            <xs:attribute name="class" use="required"/>
            <xs:attribute name="properties" use="optional"/>
            <xs:attribute name="propertySeparator" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="cacheManagerPeerProviderFactory">
        <xs:complexType>
            <xs:attribute name="class" use="required"/>
            <xs:attribute name="properties" use="optional"/>
            <xs:attribute name="propertySeparator" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="cacheManagerPeerListenerFactory">
        <xs:complexType>
            <xs:attribute name="class" use="required"/>
            <xs:attribute name="properties" use="optional"/>
            <xs:attribute name="propertySeparator" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="terracottaConfig">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="0" name="tc-config">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute default="localhost:9510" name="url" use="optional"/>
            <xs:attribute default="false" name="rejoin" type="xs:boolean" use="optional"/>
            <xs:attribute default="false" name="wanEnabledTSA" type="xs:boolean" use="optional"/>
        </xs:complexType>
    </xs:element>
    <!-- add clone support for addition of cacheExceptionHandler. Important! -->
    <xs:element name="defaultCache">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="cacheEventListenerFactory"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="cacheExtensionFactory"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="cacheLoaderFactory"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="cacheDecoratorFactory"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="bootstrapCacheLoaderFactory"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="cacheExceptionHandlerFactory"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="pinning"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="terracotta"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="cacheWriter"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="copyStrategy"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="elementValueComparator"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="sizeOfPolicy"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="persistence"/>
            </xs:sequence>
            <xs:attribute name="diskExpiryThreadIntervalSeconds" type="xs:integer" use="optional"/>
            <xs:attribute name="diskSpoolBufferSizeMB" type="xs:integer" use="optional"/>
            <xs:attribute name="diskPersistent" type="xs:boolean" use="optional"/>
            <xs:attribute default="1" name="diskAccessStripes" type="xs:integer" use="optional"/>
            <xs:attribute default="false" name="eternal" type="xs:boolean" use="optional"/>
            <xs:attribute name="maxElementsInMemory" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute name="maxEntriesLocalHeap" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute name="clearOnFlush" type="xs:boolean" use="optional"/>
            <xs:attribute name="memoryStoreEvictionPolicy" type="xs:string" use="optional"/>
            <xs:attribute name="overflowToDisk" type="xs:boolean" use="optional"/>
            <xs:attribute name="timeToIdleSeconds" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute name="timeToLiveSeconds" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute name="maxElementsOnDisk" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute name="maxEntriesLocalDisk" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute default="off" name="transactionalMode" type="transactionalMode" use="optional"/>
            <xs:attribute default="false" name="statistics" type="xs:boolean" use="optional"/>
            <xs:attribute default="false" name="copyOnRead" type="xs:boolean" use="optional"/>
            <xs:attribute default="false" name="copyOnWrite" type="xs:boolean" use="optional"/>
            <xs:attribute default="0" name="cacheLoaderTimeoutMillis" type="xs:integer" use="optional"/>
            <xs:attribute default="false" name="overflowToOffHeap" type="xs:boolean" use="optional"/>
            <xs:attribute name="maxMemoryOffHeap" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="cache">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="cacheEventListenerFactory"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="cacheExtensionFactory"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="cacheLoaderFactory"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="cacheDecoratorFactory"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="bootstrapCacheLoaderFactory"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="cacheExceptionHandlerFactory"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="pinning"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="terracotta"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="cacheWriter"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="copyStrategy"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="searchable"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="elementValueComparator"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="sizeOfPolicy"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="persistence"/>
            </xs:sequence>
            <xs:attribute name="diskExpiryThreadIntervalSeconds" type="xs:integer" use="optional"/>
            <xs:attribute name="diskSpoolBufferSizeMB" type="xs:integer" use="optional"/>
            <xs:attribute name="diskPersistent" type="xs:boolean" use="optional"/>
            <xs:attribute default="1" name="diskAccessStripes" type="xs:integer" use="optional"/>
            <xs:attribute default="false" name="eternal" type="xs:boolean" use="optional"/>
            <xs:attribute name="maxElementsInMemory" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute name="maxEntriesLocalHeap" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute name="memoryStoreEvictionPolicy" type="xs:string" use="optional"/>
            <xs:attribute name="clearOnFlush" type="xs:boolean" use="optional"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="overflowToDisk" type="xs:boolean" use="optional"/>
            <xs:attribute name="timeToIdleSeconds" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute name="timeToLiveSeconds" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute name="maxElementsOnDisk" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute name="maxEntriesLocalDisk" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute name="maxEntriesInCache" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute default="off" name="transactionalMode" type="transactionalMode" use="optional"/>
            <xs:attribute default="false" name="statistics" type="xs:boolean" use="optional"/>
            <xs:attribute default="false" name="copyOnRead" type="xs:boolean" use="optional"/>
            <xs:attribute default="false" name="copyOnWrite" type="xs:boolean" use="optional"/>
            <xs:attribute default="false" name="logging" type="xs:boolean" use="optional"/>
            <xs:attribute default="0" name="cacheLoaderTimeoutMillis" type="xs:integer" use="optional"/>
            <xs:attribute default="false" name="overflowToOffHeap" type="xs:boolean" use="optional"/>
            <xs:attribute name="maxMemoryOffHeap" type="xs:string" use="optional"/>
            <xs:attribute default="0" name="maxBytesLocalHeap" type="memoryUnitOrPercentage" use="optional"/>
            <xs:attribute default="0" name="maxBytesLocalOffHeap" type="memoryUnitOrPercentage" use="optional"/>
            <xs:attribute default="0" name="maxBytesLocalDisk" type="memoryUnitOrPercentage" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="cacheEventListenerFactory">
        <xs:complexType>
            <xs:attribute name="class" use="required"/>
            <xs:attribute name="properties" use="optional"/>
            <xs:attribute name="propertySeparator" use="optional"/>
            <xs:attribute default="all" name="listenFor" type="notificationScope" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="bootstrapCacheLoaderFactory">
        <xs:complexType>
            <xs:attribute name="class" use="required"/>
            <xs:attribute name="properties" use="optional"/>
            <xs:attribute name="propertySeparator" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="cacheExtensionFactory">
        <xs:complexType>
            <xs:attribute name="class" use="required"/>
            <xs:attribute name="properties" use="optional"/>
            <xs:attribute name="propertySeparator" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="cacheExceptionHandlerFactory">
        <xs:complexType>
            <xs:attribute name="class" use="required"/>
            <xs:attribute name="properties" use="optional"/>
            <xs:attribute name="propertySeparator" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="cacheLoaderFactory">
        <xs:complexType>
            <xs:attribute name="class" use="required"/>
            <xs:attribute name="properties" use="optional"/>
            <xs:attribute name="propertySeparator" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="cacheDecoratorFactory">
        <xs:complexType>
            <xs:attribute name="class" use="required"/>
            <xs:attribute name="properties" use="optional"/>
            <xs:attribute name="propertySeparator" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="searchAttribute">
        <xs:complexType>
        	<xs:attribute name="name" type="xs:string" use="required"/>
        	<xs:attribute name="expression" type="xs:string"/>
        	<xs:attribute name="class" type="xs:string"/>
        	<xs:attribute name="type" type="xs:string" use="optional"/>
        	<xs:attribute name="properties" use="optional"/>
        	<xs:attribute name="propertySeparator" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="searchable">
      <xs:complexType>
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="searchAttribute"/>
        </xs:sequence>
        <xs:attribute default="true" name="keys" type="xs:boolean" use="optional"/>
        <xs:attribute default="true" name="values" type="xs:boolean" use="optional"/>
        <xs:attribute default="false" name="allowDynamicIndexing" type="xs:boolean" use="optional"/>
      </xs:complexType>
    </xs:element>

    <xs:element name="pinning">
        <xs:complexType>
            <xs:attribute name="store" type="pinningStoreType" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="terracotta">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="0" ref="nonstop"/>
            </xs:sequence>
            <xs:attribute default="true" name="clustered" type="xs:boolean" use="optional"/>
            <xs:attribute default="true" name="coherentReads" type="xs:boolean" use="optional"/>
            <xs:attribute default="false" name="localKeyCache" type="xs:boolean" use="optional"/>
            <xs:attribute default="300000" name="localKeyCacheSize" type="xs:positiveInteger" use="optional"/>
            <xs:attribute default="true" name="orphanEviction" type="xs:boolean" use="optional"/>
            <xs:attribute default="4" name="orphanEvictionPeriod" type="xs:positiveInteger" use="optional"/>
            <xs:attribute default="false" name="copyOnRead" type="xs:boolean" use="optional"/>
            <xs:attribute default="false" name="coherent" type="xs:boolean" use="optional"/>
            <xs:attribute default="eventual" name="consistency" type="consistencyType" use="optional"/>
            <xs:attribute default="false" name="synchronousWrites" type="xs:boolean" use="optional"/>
            <xs:attribute default="0" name="concurrency" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute default="true" name="localCacheEnabled" type="xs:boolean" use="optional"/>
            <xs:attribute default="false" name="compressionEnabled" type="xs:boolean" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="consistencyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="strong"/>
            <xs:enumeration value="eventual"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="nonstop">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="0" ref="timeoutBehavior"/>
            </xs:sequence>
            <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
            <xs:attribute default="false" name="immediateTimeout" type="xs:boolean" use="optional"/>
            <xs:attribute default="30000" name="timeoutMillis" type="xs:positiveInteger" use="optional"/>
            <xs:attribute default="30000" name="searchTimeoutMillis" type="xs:positiveInteger" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="timeoutBehavior">
        <xs:complexType>
            <xs:attribute default="exception" name="type" type="timeoutBehaviorType" use="optional"/>
            <xs:attribute default="" name="properties" use="optional"/>
            <xs:attribute default="," name="propertySeparator" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="timeoutBehaviorType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="noop"/>
            <xs:enumeration value="exception"/>
            <xs:enumeration value="localReads"/>
            <xs:enumeration value="localReadsAndExceptionOnWrite"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="monitoringType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="autodetect"/>
            <xs:enumeration value="on"/>
            <xs:enumeration value="off"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="pinningStoreType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="localMemory"/>
            <xs:enumeration value="inCache"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="terracottaCacheValueType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="serialization"/>
            <xs:enumeration value="identity"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="transactionalMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="off"/>
            <xs:enumeration value="xa_strict"/>
            <xs:enumeration value="xa"/>
            <xs:enumeration value="local"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="cacheWriter">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="0" ref="cacheWriterFactory"/>
            </xs:sequence>
            <xs:attribute default="write-through" name="writeMode" type="writeModeType" use="optional"/>
            <xs:attribute default="false" name="notifyListenersOnException" type="xs:boolean" use="optional"/>
            <xs:attribute default="1" name="minWriteDelay" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute default="1" name="maxWriteDelay" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute default="0" name="rateLimitPerSecond" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute default="false" name="writeCoalescing" type="xs:boolean" use="optional"/>
            <xs:attribute default="false" name="writeBatching" type="xs:boolean" use="optional"/>
            <xs:attribute default="1" name="writeBatchSize" type="xs:positiveInteger" use="optional"/>
            <xs:attribute default="0" name="retryAttempts" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute default="1" name="retryAttemptDelaySeconds" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute default="1" name="writeBehindConcurrency" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute default="0" name="writeBehindMaxQueueSize" type="xs:nonNegativeInteger" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="writeModeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="write-through"/>
            <xs:enumeration value="write-behind"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="cacheWriterFactory">
        <xs:complexType>
            <xs:attribute name="class" use="required"/>
            <xs:attribute name="properties" use="optional"/>
            <xs:attribute name="propertySeparator" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="copyStrategy">
        <xs:complexType>
            <xs:attribute name="class" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="elementValueComparator">
        <xs:complexType>
            <xs:attribute name="class" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="sizeOfPolicy">
        <xs:complexType>
            <xs:attribute name="maxDepth" type="xs:integer" use="required"/>
            <xs:attribute default="continue" name="maxDepthExceededBehavior" type="maxDepthExceededBehavior" use="optional"/>
        </xs:complexType>
    </xs:element>

	<xs:element name="persistence">
	    <xs:complexType>
            <xs:attribute name="strategy" type="persistenceStrategy" use="required"/>
            <xs:attribute default="false" name="synchronousWrites" type="xs:boolean" use="optional"/>
	    </xs:complexType>
	</xs:element>
	
	<xs:simpleType name="persistenceStrategy">
	    <xs:restriction base="xs:string">
	        <xs:enumeration value="localTempSwap"/>
	        <xs:enumeration value="localRestartable"/>
	        <xs:enumeration value="none"/>
	        <xs:enumeration value="distributed"/>
	    </xs:restriction>
	</xs:simpleType>
	
    <xs:simpleType name="maxDepthExceededBehavior">
        <xs:restriction base="xs:string">
            <xs:enumeration value="continue"/>
            <xs:enumeration value="abort"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="notificationScope">
        <xs:restriction base="xs:string">
            <xs:enumeration value="local"/>
            <xs:enumeration value="remote"/>
            <xs:enumeration value="all"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="memoryUnit">
        <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]+[bBkKmMgG]?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="memoryUnitOrPercentage">
        <xs:restriction base="xs:token">
            <xs:pattern value="([0-9]+[bBkKmMgG]?|100%|[0-9]{1,2}%)"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
